body {
  background-image: url("images/bg.png");
  font-family: Arial;
  font-size: 13px;
  color: white;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
	max-width: 971px;
}

.header-top {
  background: #0081C6;
  min-height: 119px;
}

.header-row {
  padding-top: 20px;
}

.header-top-logo {
  float: left;
}

.header-top-logo-img2 {
  display: none;
}

.header-top-text {
  text-align: left;
  top: 15px;
}

.header-top-text-line1 {
  font-size: 15px;
  font-weight: bold;
}

.header-top-text-line2 {
  margin: 10px 0;
}

.header-top-contact {
  text-align: center;
  float: right;
}

.header-top-contact-city {
  position: relative;
  font-size: 15px;
  font-weight: bold;
}

.header-top-contact-phone-code {
  position: relative;
  color: #ff6347;
  font-size: 19px;
  font-weight: bold;
}

.header-top-contact-phone {
  position: relative;
  font-size: 19px;
  font-weight: bold;
}

.header-top-contact-request_button {
  background: #3c3c3c;
  border-radius: 6px;
  cursor: pointer;
  width: 159px;
  height: 25px;   
}

.header-top-contact-request_button a {
  display: block;
  font-family: Arial;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 0 0 0;
}

.header-top-contact-request_button:hover {
  text-decoration: none;
  background: #57c0ff;
}

/* ============ */
/* === MENU === */
/* ============ */

.hide {
	display: none;
}

.header-menu * {
  background: #00008B;
}

.header-menu ul {
  list-style-type: none;
  padding: 0;
}

.header-menu ul li {
  text-align: center;
  float: left;
  position: relative;
}

.header-menu ul li a {
  font-family: Arial;
  font-size: 13px;
  color: white;
  padding: 0 10px;
  display: block;
  font-weight: bold;	
  line-height: 49px;
}

.header-menu ul li a:hover {
  background: #0081C6;
  text-decoration: none;
  padding: 0 10px;
}

ul.level-1 {
  position: absolute;
  //display: none;
} 

/*li:hover ul.level1 {
  position: absolute;
  //display: none;
}*/

ul.level-2 {
  position: absolute;
  //display: none;
  left: 234px;
}

ul.level-2.1 {
  top: 0;
}

ul.level-2.2 {
  top: 53px;
}

@media screen and (max-width: 768px) {
  .header-row {
    padding-top: 0;
    text-align: center;
  }
  .header-top-logo-img1 {
    display: none;
  }
  .header-top-logo-img2 {
    display: inline-block;
    margin: 0 auto;
    top: 0;
    float: none;
  }
  .header-top-contact {
    top: 20px;
    float: none;
    display: inline-block;
  }
  .header-top-contact-request_button {
    margin-bottom: 10px;
  }
	
  /*
  .header-menu ul li {
    display: block;
  }
 .header-menu ul li a { 
    display: block;
    width: 100%;
    max-height: 49px;
    padding: 0;
  }
  */
	
}